#quizCard {
    border: 0px;
    martin-top: 0px;
    padding: 10px;
}

#clock {
    text-align: center;
    border: 0px;
    margin: 10px;
}

#counter {
    text-align: center;
    margin: 5px;
    padding: 5px;
}